# Bloqueia acesso direto a arquivos sensíveis
<FilesMatch "\.(py|env|ini|log|sql|bak)$">
    Require all denied
</FilesMatch>

<Files "config.php">
    Require all denied
</Files>

<Files "db.php">
    Require all denied
</Files>
